/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/************************* GLOBAL *************************/

$black: #000000;
$white: #ffffff;
$refactorit-red: #ed1a33;
$refactorit-gray: #666666;
$electric-blue: #3C3C99;
$light-gray: #b0b0b0;

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,900);


*{
  margin: 0;
}

html, body {

}


html {
  position: relative;
  min-height: 100%;
  height: auto;
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: $refactorit-gray;
  font-size: 100%;
  height: auto;
}

i {
	font-size: 1.5em;
}



section {
  padding-top: 5em;
}

p {
  font-size: 0.9em;
}

.hr-margin {
  width: inherit;
}

aside {
  margin-top: 3em;
}

.space-top {
  margin-top: 3.5em;
}

/********** navbar **********/

.r-brand {
  width: 90px;
}

.top-bar-right a {
  color: $refactorit-gray;
}

.current {
  color: $refactorit-red;
}

// moves hamburger menu to the right side
.menu-icon {
  float: right;
  margin-top: 0.5rem;
}

/********** footer **********/
footer {
	width: 100%;
	background-color: #292c2f;
	text-align: center;
	font-size: 1.2rem;
	padding: 1rem;
  bottom: 0;
}

footer .menu a {
  font-size: 0.7em;
  color: $white;
}

a.newsletter-submit {
  color: $white;
}

.footer-wrap {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -16em; /* the bottom margin is the negative value of the footer's height */
}


.white-text {
  color: white;
}

.gray-form {
  background-color: $refactorit-gray;
  border: #828282 1px solid;
}

.gray-form:focus {
  border: none;
  box-shadow: none;
}

footer a {
  color: $white;
}

footer a:hover {
  color: $light-gray;
}

/* dribbble*/

.shot-image {
  position: relative;
}

.card-views .fi-eye:before, .card-likes .fi-heart:before {
  margin-right: 0.3em;
}

.card-views {
  margin: 0;
}

.dribbble-expanded .columns {
  padding: 0;
}

.thumbnail + .shot-image:hover, .thumbnail:hover {
  -webkit-filter: brightness(50%);
}

.thumbnail:hover:after {
  content: "\f009";
  font-size: 1em;
  font-family: foundation-icons;
  color: $black;
}

.dribbble-text {
  padding: 0 1em;
}

/********** blog **********/
.category {
  color: $refactorit-red;
  text-transform: lowercase;
  font-variant: small-caps;
}
