$refactorit-red: #ed1a33;
$refactorit-gray: #666666;
$light-red: #FF4C62;
$dark-red: #7F000F;

a {
  color: $light-red;
}

a:focus {
  outline: 0;
}

a:hover, a:active {
  color: $dark-red;
}

.button {
  background-color: $light-red;
}

.button:hover {
  background-color: $dark-red;
}

input {
  margin-bottom: 0;
}

.page-headline {
  background-color: #b0b0b0;
  border: none;
  h5 {
    color: #ffffff;
    font-weight: 700;
  }
}

.medium-space-top {
  margin-top: 1rem;
}

.space-bottom {
  margin-bottom: 2rem;
}

.footer-menu:not(:first-child) {
  padding: 1rem;
}

// covers

.cover-contact {
  background: no-repeat center/100% url("<%= asset_path 'p-contact.jpg' %>");
}

.cover-team {
  background: no-repeat center/100% url("<%= asset_path 'p-team.jpg' %>");
}

.cover-services {
  background: no-repeat center/100% url("<%= asset_path 'p-services.jpg' %>");
}

.cover-blog {
  background: no-repeat center/100% url("<%= asset_path 'p-blog.jpg' %>");
}
