// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #000000;
$white: #ffffff;
$refactorit-red: #ed1a33;
$refactorit-gray: #666666;
$electric-blue: #3C3C99;
$light-gray: #b0b0b0;


.blogpost-title, .blogpost-date {
  font-variant: initial;
}

.social-space {
  padding-left: 0.5em;
}

.icon-space-right {
  padding-right: 0.5em;
}

.highlight {
  font-size: 0.7em;
  margin: 2em 0;
  padding: 0.7em;
}

.blogpost h4, .small-c, h5, .n-label {
	text-transform: lowercase;
	font-variant: small-caps;
  color: $refactorit-gray;
  letter-spacing: 0.05em;
  font-size: 1.25rem;
  font-family: "Fira Sans", sans-serif;
  line-height: 1;
}

.blogpost h4 {
  margin-top: 1.4em;
}

.blogpost {
  font-size: 1.2em;
  font-family: 'Fira Sans', sans-serif;
  margin: 0.5em 0 1em 0;
  em {
    font-size: large;
    font-style: normal;
  }
  ul {
    list-style-type: circle;
    font-size: 0.75em;
  }
}

.blogpost-preview {
  margin:0 0 2.3em;
}

.blogpost-author {
  line-height: 5;
}
