// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogpost-title, .blogpost-date {
  font-variant: initial;
}

.social-space {
  padding-left: 0.5em;
}

.icon-space-right {
  padding-right: 0.5em;
}

.highlight {
  font-size: 0.7em;
  margin: 2em 0;
  padding: 0.7em;
}
