// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogpost-title, .blogpost-date {
  font-variant: initial;
}

.blogpost-date {
  font-size: 0.9em;
  margin-top: 1.8em;
}

.social-space {
  padding-left: 0.5em;
}