script async="" src="//static.tapfiliate.com/tapfiliate.js" type="text/javascript"
javascript:
  window['TapfiliateObject'] = i = 'tap';
  window[i] = window[i] || function () {
      (window[i].q = window[i].q || []).push(arguments);
  };

  tap('create', '2527-ee42f2');
  tap('conversion');
